<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/update" method="post">
        <label>ProductID: </label><input type="text" name="p_id" id="i1"><br>
        <label>ProductName: </label><input type="text" name="p_name" id="i2"><br>
        <label>Category: </label><input type="text" name="p_cat" id="i3"><br>
        <label>Price: </label><input type="number" name="p_pri" id="i4"><br>
        <input type="submit" value="Update"></input>
    </form>
</body>
</html>