<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Kontakt</h1>
<form action="/kontakt" method="post" id="f1">
    <label>Imie: </label><input type="text" name="imie" id="i1"><br>
    <label>Email: </label><input type="email" name="email" id="i2"><br>
    <select name="tematy">
        <option selected>Temat 1</option>
        <option>Temat 2</option>
        <option>Temat 3</option>
    </select><br>
    <textarea name="wiadomosc" placeholder="Napisz wiadomość"></textarea><br>
    <input type="submit" value="Wyślij">
</form>
<!--<script src="/block.js"></script>-->
</body>
</html>